@use "./variables" as *;
@use "./mixins" as *;

.item {
    width: 50vw;
    height: auto;
    // width: 450px;
    min-height: 600px;
    color: black;
    background-color: $primary-color;
    background-image: url(../assets/bglight.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    border: 3px ridge $border-clr;
    border-radius: 5px;
    position: relative;
}

.itemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 50px 0 50px;
    overflow: hidden;
    @include font(24px);
    // font-size: 20px;

    & h2 {
        @include font(32px);
        // font-size: 32px;
    }

    & p {
        margin: 0;
        text-align: justify;
    }

    & div {
        margin: 30px 0;
    }
}

.loading {
    margin: 150px auto;
    text-align: center;
}

.error {
    margin: 150px auto;
    text-align: center;
    color: $error-clr;
}